.DS_Store
__pycache__
.env
venv
!.gitkeep
.vscode/*
.metals/*
.coverage.*
.coverage
.ruff_cache
.pytest_cache
.mypy_cache
pipeline_data
dist
docs/.vitepress/dist
docs/.vitepress/cache
node_modules
*.duckdb
*.duckdb.wal
*.db
*.db.wal
*.sql
ingest.sh
test.env
*.log