asana==3.2.3
confluent-kafka==2.8.0
databricks-sql-connector==2.9.3
dataclasses-json==0.6.7
dlt==1.10.0
duckdb_engine==0.17.0
duckdb==1.2.1
google-ads==25.1.0
facebook-business==20.0.0
google-api-python-client==2.130.0
google-cloud-bigquery-storage==2.24.0
mysql-connector-python==9.2.0
pendulum==3.0.0
psutil==6.1.1
psycopg2-binary==2.9.10
py-machineid==0.6.0
pyairtable==2.3.3
pyarrow==18.1.0
pyathena==3.12.2
pymongo==4.11.1
pymysql==1.1.1
pyrate-limiter==3.7.0
redshift-connector==2.1.5
rich==13.9.4
rudder-sdk-python==2.1.4
snowflake-sqlalchemy==1.6.1
sqlalchemy-bigquery==1.12.1
sqlalchemy-hana==2.0.0
sqlalchemy-redshift==0.8.14
SQLAlchemy==1.4.52
sqlalchemy2-stubs==0.0.2a38
stripe==10.7.0
tqdm==4.67.1
typer==0.13.1
types-requests==2.32.0.20240907
s3fs==2025.3.2
pyarrow==18.1.0
google-analytics-data==0.18.17
asana==3.2.3
flatten_json==0.1.14
dataclasses-json==0.6.7
gcsfs==2025.3.2
simple-salesforce==1.12.6
databricks-sqlalchemy==1.0.2
clickhouse-connect==0.8.14
clickhouse-driver==0.2.9
clickhouse-sqlalchemy==0.2.7
zstd==1.5.6.5
ibm-db==3.2.6; platform_machine != "aarch64"
ibm-db-sa==0.4.1; platform_machine != "aarch64"
aiohttp>=3.11.15
elasticsearch==8.10.1
sqlalchemy-spanner==1.11.0
google-cloud-spanner==3.54.0
smartsheet-python-sdk==3.0.5
