confluent-kafka>=2.6.1
databricks-sql-connector==2.9.3
dlt==1.4.0
duckdb_engine==0.13.5
duckdb==1.1.3
google-api-python-client==2.130.0
google-cloud-bigquery-storage==2.24.0
mysql-connector-python==9.1.0
pendulum==3.0.0
psycopg2-binary==2.9.10
py-machineid==0.6.0
pymongo==4.10.1
pymysql==1.1.1
pyrate-limiter==3.7.0
redshift-connector==2.1.3
rich==13.9.4
rudder-sdk-python==2.1.4
snowflake-sqlalchemy==1.6.1
sqlalchemy-bigquery==1.12.0
sqlalchemy-hana==2.0.0
sqlalchemy-redshift==0.8.14
SQLAlchemy==1.4.52
sqlalchemy2-stubs==0.0.2a38
tqdm==4.67.0
typer==0.13.1
stripe==10.7.0
facebook-business==20.0.0
pyairtable==2.3.3
types-requests==2.32.0.20240907
s3fs==2024.9.0

