aiobotocore==2.21.1
aiohappyeyeballs==2.4.8
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.15.1
annotated-types==0.7.0
asana==3.2.3
asn1crypto==1.5.1
asynch==0.2.4
attrs==25.1.0
backoff==2.2.1
beautifulsoup4==4.13.3
boto3==1.37.1
botocore==1.37.1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ciso8601==2.3.2
click==8.1.8
clickhouse-connect==0.8.14
clickhouse-driver==0.2.9
clickhouse-sqlalchemy==0.2.7
confluent-kafka==2.8.0
cryptography==44.0.2
curlify==2.2.1
databricks-sql-connector==2.9.3
databricks-sqlalchemy==1.0.2
dataclasses-json==0.6.7
decorator==5.2.1
deprecation==2.1.0
dlt==1.6.1
dnspython==2.7.0
duckdb==1.2.0
duckdb_engine==0.15.0
et_xmlfile==2.0.0
facebook_business==20.0.0
filelock==3.17.0
flatten-json==0.1.14
frozenlist==1.5.0
fsspec==2024.10.0
gcsfs==2024.10.0
gitdb==4.0.12
GitPython==3.1.44
giturlparse==0.12.0
google-ads==25.1.0
google-analytics-data==0.18.17
google-api-core==2.24.1
google-api-python-client==2.130.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.30.0
google-cloud-bigquery-storage==2.24.0
google-cloud-core==2.4.2
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.0
grpcio==1.70.0
grpcio-status==1.62.3
hdbcli==2.23.27
hexbytes==1.3.0
httplib2==0.22.0
humanize==4.12.1
idna==3.10
inflection==0.5.1
isodate==0.7.2
jmespath==1.0.1
jsonpath-ng==1.7.0
leb128==1.0.8
lxml==5.3.1
lz4==4.4.3
makefun==1.15.6
Mako==1.3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
monotonic==1.6
more-itertools==10.6.0
multidict==6.1.0
mypy-extensions==1.0.0
mysql-connector-python==9.2.0
numpy==2.2.3
oauthlib==3.2.2
openpyxl==3.1.5
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pathvalidate==3.2.3
pendulum==3.0.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
propcache==0.3.0
proto-plus==1.26.0
protobuf==4.25.6
psutil==6.1.1
psycopg2-binary==2.9.10
py-machineid==0.6.0
pyairtable==2.3.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAthena==3.12.2
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pymongo==4.11.1
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyparsing==3.2.1
pyrate-limiter==3.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
redshift-connector==2.1.5
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rich==13.9.4
rich-argparse==1.7.0
rsa==4.9
rudder-sdk-python==2.1.4
s3fs==2024.10.0
s3transfer==0.11.3
scramp==1.4.5
semver==3.0.4
shellingham==1.5.4
simple-salesforce==1.12.6
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
snowflake-connector-python==3.14.0
snowflake-sqlalchemy==1.6.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==1.4.52
sqlalchemy-bigquery==1.12.1
sqlalchemy-hana==2.0.0
sqlalchemy-redshift==0.8.14
sqlalchemy2-stubs==0.0.2a38
stripe==10.7.0
tenacity==9.0.0
thrift==0.16.0
time-machine==2.16.0
tomlkit==0.13.2
tqdm==4.67.1
typer==0.13.1
types-requests==2.32.0.20240907
types-setuptools==75.8.2.20250305
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3
uritemplate==4.1.1
urllib3==2.3.0
wrapt==1.17.2
yarl==1.18.3
zeep==4.3.1
zstandard==0.23.0
zstd==1.5.6.5
