# This file is used to set environment variables for the tests.
# If you create a test.env file based on this template then the integration tests will use those env variables automatically.

export INGESTR_TEST_APPSFLYER_TOKEN="your_appsflyer_token_here"